--
-- PostgreSQL database dump
--

\restrict hdznmFi0xSME9fjdfFf8xyfWtfGcxJhDxKYPa52xYob3LZU3ch7USutEaVvLWaM

-- Dumped from database version 15.16 (Debian 15.16-1.pgdg13+1)
-- Dumped by pg_dump version 15.16 (Debian 15.16-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: admin_users; Type: TABLE; Schema: public; Owner: anpr
--

CREATE TABLE public.admin_users (
    id integer NOT NULL,
    username character varying(100) NOT NULL,
    password text NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    email character varying(255),
    role character varying(50) DEFAULT 'admin'::character varying
);


ALTER TABLE public.admin_users OWNER TO anpr;

--
-- Name: admin_users_id_seq; Type: SEQUENCE; Schema: public; Owner: anpr
--

CREATE SEQUENCE public.admin_users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.admin_users_id_seq OWNER TO anpr;

--
-- Name: admin_users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: anpr
--

ALTER SEQUENCE public.admin_users_id_seq OWNED BY public.admin_users.id;


--
-- Name: email_recipients; Type: TABLE; Schema: public; Owner: anpr
--

CREATE TABLE public.email_recipients (
    id integer NOT NULL,
    email character varying(255) NOT NULL,
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    created_by uuid
);


ALTER TABLE public.email_recipients OWNER TO anpr;

--
-- Name: email_recipients_id_seq; Type: SEQUENCE; Schema: public; Owner: anpr
--

CREATE SEQUENCE public.email_recipients_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.email_recipients_id_seq OWNER TO anpr;

--
-- Name: email_recipients_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: anpr
--

ALTER SEQUENCE public.email_recipients_id_seq OWNED BY public.email_recipients.id;


--
-- Name: registered_vehicles; Type: TABLE; Schema: public; Owner: anpr
--

CREATE TABLE public.registered_vehicles (
    id integer NOT NULL,
    plate_number character varying(50) NOT NULL,
    vehicle_type character varying(50) NOT NULL,
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    driver_name character varying(100),
    area character varying(100),
    contact character varying(20),
    added_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.registered_vehicles OWNER TO anpr;

--
-- Name: registered_vehicles_id_seq; Type: SEQUENCE; Schema: public; Owner: anpr
--

CREATE SEQUENCE public.registered_vehicles_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.registered_vehicles_id_seq OWNER TO anpr;

--
-- Name: registered_vehicles_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: anpr
--

ALTER SEQUENCE public.registered_vehicles_id_seq OWNED BY public.registered_vehicles.id;


--
-- Name: vehicle_logs; Type: TABLE; Schema: public; Owner: anpr
--

CREATE TABLE public.vehicle_logs (
    id integer NOT NULL,
    plate_number character varying(50),
    vehicle_type character varying(50),
    direction character varying(20),
    camera_id character varying(50),
    image_url text,
    plate_image_url text,
    video_url text,
    is_authorized boolean DEFAULT false,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    event_id character varying(50),
    authenticated boolean,
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.vehicle_logs OWNER TO anpr;

--
-- Name: vehicle_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: anpr
--

CREATE SEQUENCE public.vehicle_logs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.vehicle_logs_id_seq OWNER TO anpr;

--
-- Name: vehicle_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: anpr
--

ALTER SEQUENCE public.vehicle_logs_id_seq OWNED BY public.vehicle_logs.id;


--
-- Name: admin_users id; Type: DEFAULT; Schema: public; Owner: anpr
--

ALTER TABLE ONLY public.admin_users ALTER COLUMN id SET DEFAULT nextval('public.admin_users_id_seq'::regclass);


--
-- Name: email_recipients id; Type: DEFAULT; Schema: public; Owner: anpr
--

ALTER TABLE ONLY public.email_recipients ALTER COLUMN id SET DEFAULT nextval('public.email_recipients_id_seq'::regclass);


--
-- Name: registered_vehicles id; Type: DEFAULT; Schema: public; Owner: anpr
--

ALTER TABLE ONLY public.registered_vehicles ALTER COLUMN id SET DEFAULT nextval('public.registered_vehicles_id_seq'::regclass);


--
-- Name: vehicle_logs id; Type: DEFAULT; Schema: public; Owner: anpr
--

ALTER TABLE ONLY public.vehicle_logs ALTER COLUMN id SET DEFAULT nextval('public.vehicle_logs_id_seq'::regclass);


--
-- Name: admin_users admin_users_email_key; Type: CONSTRAINT; Schema: public; Owner: anpr
--

ALTER TABLE ONLY public.admin_users
    ADD CONSTRAINT admin_users_email_key UNIQUE (email);


--
-- Name: admin_users admin_users_pkey; Type: CONSTRAINT; Schema: public; Owner: anpr
--

ALTER TABLE ONLY public.admin_users
    ADD CONSTRAINT admin_users_pkey PRIMARY KEY (id);


--
-- Name: admin_users admin_users_username_key; Type: CONSTRAINT; Schema: public; Owner: anpr
--

ALTER TABLE ONLY public.admin_users
    ADD CONSTRAINT admin_users_username_key UNIQUE (username);


--
-- Name: email_recipients email_recipients_email_key; Type: CONSTRAINT; Schema: public; Owner: anpr
--

ALTER TABLE ONLY public.email_recipients
    ADD CONSTRAINT email_recipients_email_key UNIQUE (email);


--
-- Name: email_recipients email_recipients_pkey; Type: CONSTRAINT; Schema: public; Owner: anpr
--

ALTER TABLE ONLY public.email_recipients
    ADD CONSTRAINT email_recipients_pkey PRIMARY KEY (id);


--
-- Name: registered_vehicles registered_vehicles_pkey; Type: CONSTRAINT; Schema: public; Owner: anpr
--

ALTER TABLE ONLY public.registered_vehicles
    ADD CONSTRAINT registered_vehicles_pkey PRIMARY KEY (id);


--
-- Name: registered_vehicles registered_vehicles_plate_number_key; Type: CONSTRAINT; Schema: public; Owner: anpr
--

ALTER TABLE ONLY public.registered_vehicles
    ADD CONSTRAINT registered_vehicles_plate_number_key UNIQUE (plate_number);


--
-- Name: vehicle_logs unique_event_id; Type: CONSTRAINT; Schema: public; Owner: anpr
--

ALTER TABLE ONLY public.vehicle_logs
    ADD CONSTRAINT unique_event_id UNIQUE (event_id);


--
-- Name: registered_vehicles unique_plate_number; Type: CONSTRAINT; Schema: public; Owner: anpr
--

ALTER TABLE ONLY public.registered_vehicles
    ADD CONSTRAINT unique_plate_number UNIQUE (plate_number);


--
-- Name: vehicle_logs vehicle_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: anpr
--

ALTER TABLE ONLY public.vehicle_logs
    ADD CONSTRAINT vehicle_logs_pkey PRIMARY KEY (id);


--
-- Name: idx_event_id; Type: INDEX; Schema: public; Owner: anpr
--

CREATE UNIQUE INDEX idx_event_id ON public.vehicle_logs USING btree (event_id);


--
-- PostgreSQL database dump complete
--

\unrestrict hdznmFi0xSME9fjdfFf8xyfWtfGcxJhDxKYPa52xYob3LZU3ch7USutEaVvLWaM

